@page
@model _66bitFootball.Pages.Players.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Player</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Player.Id" />
            <div class="form-group">
                <label asp-for="Player.Name" class="control-label"></label>
                <input asp-for="Player.Name" class="form-control" />
                <span asp-validation-for="Player.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Player.Surname" class="control-label"></label>
                <input asp-for="Player.Surname" class="form-control" />
                <span asp-validation-for="Player.Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Player.Gender" class="control-label"></label>
                <select asp-for="Player.Gender" class="form-control"></select>
                <span asp-validation-for="Player.Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Player.DateOfBirth" class="control-label"></label>
                <input asp-for="Player.DateOfBirth" class="form-control" />
                <span asp-validation-for="Player.DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Player.Country" class="control-label"></label>
                <select asp-for="Player.Country" class="form-control"></select>
                <span asp-validation-for="Player.Country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Player.TeamId" class="control-label"></label>
                <select asp-for="Player.TeamId" class="form-control" asp-items="ViewBag.TeamId"></select>
                <span asp-validation-for="Player.TeamId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
